In [1]:
for x in range (5):
    print('FEU')

FEU
FEU
FEU
FEU
FEU

In [2]:
for x in range (2, 10, 2):
    print("FEU")

FEU
FEU
FEU
FEU

In [3]:
for x in range (25, 0, -5):
    print("FEU")

FEU
FEU
FEU
FEU
FEU

In [8]:
x = 0
while x <= 1050:
    av = 10000/134
    x += av
    print(x)

74.6268656716418
149.2537313432836
223.8805970149254
298.5074626865672
373.13432835820896
447.76119402985074
522.3880597014926
597.0149253731344
671.6417910447761
746.2686567164179
820.8955223880597
895.5223880597015
970.1492537313433
1044.7761194029852
1119.402985074627

In [3]:
n1='m'
n2=5
for x in range (4):
    print(n1," ",n2," ",";", end = ' ')
    chr(ord(n1)+2)
    n2 += 5

m   5   ; m   10   ; m   15   ; m   20   ;

In [6]:
n1='m'
n2=5
for x in range (4):
    print(n1," ",n2," ",";")
    chr(ord(n1)+2)
    n2 += 5

m   5   ;
m   10   ;
m   15   ;
m   20   ;

In [9]:
n1='m'
n2=5
for x in range (4):
    print(n1," ",n2," ",";", end = ' ')
    chr(ord(n1)+2)
    n2 += 5
print()
y=6
for x in range (5,0,-1):
    print(x,y, end = ' ')
    y += 1

m   5   ; m   10   ; m   15   ; m   20   ;
5 6 4 7 3 8 2 9 1 10

In [10]:
for x in range (11,0,-3):
    print(x, end = ' ')
for x in range (4):
    print('&',end = ' ')
n1='a'
for x in range (4):
    print(n1,end = ' ')
    n1=chr(ord(n1)+2)

11 8 5 2 & & & & a c e g

In [2]:
s=0
ctr1=0
ctr2=0
nume=0
deno=0
p=1
for x in range (10):
    n=int(input())
    s+=n
    if n<0:
        ctr1+=1
    if n>=8 and n<=10:
        ctr2+=1
    if n<12 and n!=5:
        p*=n
    if n%3==0 and n>10:
        nume+=n
        deno+=1
        
ave=s/10
min=p**0.5
sub=nume/deno
d=3*(nume-deno)
print(s, ave)
print(ctr1)
print(ctr2)
print(d)

34
85
93
57
78
39
75
96
44
19
620 62.0
0
0
1296

thrice the difference of the average of all numbers divisible by 3 and greater than 10 from the square root of the product of all numbers less than 12 and not equal to 5

3(avn3>10 - sqrt(pn<12&n!=5))

--------------------------------------------------------------------------------------------------------------------------------

input: 10 numbers
output:
a) average of smallest and largest number
b) total of all numbers divisible by 2 and 3
c) cube root of the average of all odd numbers

In [4]:
t23=0
nume=0
deno=0
n=int(input())
S=n
L=n
if n%2==0 and n%3==0:
    t23=n
if n%2==1:
    nume=n
    deno=1
for x in range (9):
    n=int(input())
    if n>L:
        L=n
    if n<S:
        S=n
    if n%2==0 and n%3==0:
        t23+=n
    if n%2==1:
        nume+=n
        deno+=1
        
if deno!=0:
    c=(nume/deno)**(1/3)
else:
    c=0
        
ave=(L+S)/2
print(S,L,ave)
print(t23)
print(c)

1
2
3
4
5
6
7
8
9
10
1 10 5.5
6
1.7099759466766968